week1/data/facial_landmark_data/*
# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/
env/
venv/
week4/data/
# OS files
.DS_Store
*/.ipynb_checkpoints/*
# IDE configs
.vscode/
.idea/
*.jpg
*.dat
*.npy
*.pkl
*.mp4
*.JPEG
*.npz
*.zip
*.keras
wget-log
.ipynb_checkpoints/*
*.jpeg
*.png
*.JPG
*.jfif
*.PNG
project4/darknet/*
project4/dataset/*
project4/darknet/
